<div class="jc">
	<div class="jc_content">
		<ul class="left">
			<li><a ng-click="turn('简介（Introduction）')">简介（Introduction）</a></li>
			<li><a ng-click="turn('引导程序（Bootstrap）')">引导程序（Bootstrap）</a></li>
			<li><a ng-click="turn('概念概述(Conceptual Overview)')">概念概述(Conceptual Overview)</a></li>
			<li><a ng-click="turn('Html编译（HTML Compiler）')">Html编译（HTML Compiler）</a></li>
			<li><a ng-click="turn('数据绑定（Data Binding）')">数据绑定（Data Binding）</a></li>
			<li><a ng-click="turn('控制器(Controllers)')">控制器(Controllers)</a></li>
			<li><a ng-click="turn('服务（Services）')">服务（Services）</a></li>
			<li><a ng-click="turn('作用域(Scope)')">作用域(Scope)</a></li>
			<li><a ng-click="turn('依赖注入(Dependency Injection)')">依赖注入(Dependency Injection)</a></li>
			<li><a ng-click="turn('模板（Templates）')">模板（Templates）</a></li>
			<li><a ng-click="turn('使用css(Working With CSS)')">使用css(Working With CSS)</a></li>
			<li><a ng-click="turn('过滤器（Filters）')">过滤器（Filters）</a></li>
			<li><a ng-click="turn('表单(Forms)')">表单(Forms)</a></li>
			<li><a ng-click="turn('指令(Directives)')">指令(Directives)</a></li>
			<li><a ng-click="turn('Components')">Components</a></li>
			<li><a ng-click="turn('Component Router')">Component Router</a></li>
			<li><a ng-click="turn('动画(Animations)')">动画(Animations)</a></li>
			<li><a ng-click="turn('模块(Modules)')">模块(Modules)</a></li>
			<li><a ng-click="turn('表达式(Expressions)')">表达式(Expressions)</a></li>
		</ul>
		
		<div class="left right">
			<h1>AngularJS{{title ? title: '简介（Introduction）'}}</h1>
		</div>
	</div>
</div>
